@import url('/react-app/public/css/prism.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
code {
  font-size: 16px !important;
}
::-webkit-scrollbar {
  width: 0px;
}
.t-t-c {
  text-transform: capitalize;
}
pre {
  font-size: 17px;
  background-color: rgb(29, 29, 29);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Source Code Pro', monospace;
}
.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-y-start-x {
  display: flex;
  justify-content: start;
  align-items: center;
}
.h-100 {
  height: calc(100vh - 56px) !important;
}
.w-100 {
  width: 100%;
}
